aiofiles
aiohttp
aioshutil
anytree
tdjson
orjson
apscheduler
python-dotenv
anitopy
aioaria2
aioqbt
beautifulsoup4
git+https://github.com/cinemagoer/cinemagoer
git+https://@github.com/977711/client
cloudscraper
paramiko
dnspython
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
langcodes[data]
jinja2
lxml
motor
aniparse
g4f[all]
aiolimiter
natsort
openai
par2cmdline-turbo
pillow
psutil
pycountry
pymongo
pyrotgfork
python-magic
pytz
qbittorrent-api
reportlab
requests
speedtest-cli
gallery-dl
telegraph
tenacity
tgcrypto
urllib3
uvicorn
uvloop==0.21.0
xattr
language-data
# Stable yt-dlp (pre-JS runtime requirement)
yt-dlp[default,curl-cffi]
